<app-header></app-header>

<div class="container" dir="rtl">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <!-- عنوان الصفحة -->
      <div class="text-center my-4">
        <h2 class="fw-bold fs-2">
          <i class="fa fa-check-circle text-success"></i>&nbsp; متابعة الأوراد
          اليومية
        </h2>
        <p class="fs-5">راقب إنجازك اليومي بكل سهولة ويُسر 👇</p>
      </div>

      <div class="card shadow-sm">
        <div class="card-body fs-5">
          <!-- التبويبات -->
          <ul class="nav nav-pills mb-4 justify-content-center" id="tabs">
            <li class="nav-item">
              <a
                class="nav-link active fs-6"
                data-bs-toggle="tab"
                href="#today-tab"
                role="tab"
              >
                أوراد اليوم
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link fs-6"
                data-bs-toggle="tab"
                href="#yesterday-tab"
                role="tab"
              >
                أوراد أمس
              </a>
            </li>
          </ul>

          <!-- محتوى التبويبات -->
          <div class="tab-content">
            <!-- تبويب اليوم -->
            <div
              class="tab-pane fade show active"
              id="today-tab"
              role="tabpanel"
            >
              <h5 class="card-header fs-5">
                <i class="fa fa-calendar-day text-primary"></i>
                &nbsp;اليوم - {{ getDayName(todayString) }} - {{ todayString }}
              </h5>

              <ng-container
                *ngIf="groupedWerds[todayString].length > 0; else noToday"
              >
                <ul class="list-group list-group-flush p-0">
                  <ng-container *ngFor="let werd of groupedWerds[todayString]">
                    <li
                      class="list-group-item d-flex align-items-center justify-content-between flex-nowrap gap-2 fs-5"
                      [ngClass]="{
                        'bg-light': werd.isCompleted === true,
                        'bg-danger': werd.isCompleted === false
                      }"
                      style="--bs-bg-opacity: 0.6"
                    >
                      <div class="d-flex align-items-center">
                        <!-- الدائرة -->
                        <div class="d-flex align-items-center flex-shrink-0">
                          <div
                            class="todo-indicator"
                            [ngClass]="
                              werd.isCompleted === true
                                ? 'bg-success'
                                : werd.isCompleted === false
                                ? 'bg-danger'
                                : 'bg-warning'
                            "
                          ></div>
                        </div>

                        <!-- العنوان -->
                        <div class="werd-title flex-grow-1 text-truncate">
                          <i class="fa fa-book-open text-primary ms-2"></i>
                          {{ werd.werdTitle }}
                        </div>
                      </div>
                      <!-- الحالة والأزرار -->
                      <div
                        class="d-flex align-items-center gap-1 flex-shrink-0"
                      >
                        <span
                          class="badge rounded-pill fs-6"
                          [ngClass]="{
                            'bg-success': werd.isCompleted === true,
                            'bg-danger': werd.isCompleted === false,
                            'bg-warning text-dark': werd.isCompleted === null
                          }"
                        >
                          {{
                            werd.isCompleted === true
                              ? "تم الإنجاز"
                              : werd.isCompleted === false
                              ? "لم يتم"
                              : "لم يُنجز بعد"
                          }}
                        </span>

                        <ng-container *ngIf="werd.isCompleted === null">
                          <button
                            class="btn btn-outline-success btn-sm px-2 py-1"
                            (click)="completeWerd(werd.id)"
                          >
                            <i class="fa fa-check"></i>
                          </button>
                          <button
                            class="btn btn-outline-danger btn-sm px-2 py-1"
                            (click)="markNotCompleted(werd.id)"
                          >
                            <i class="fa fa-times"></i>
                          </button>
                        </ng-container>
                      </div>
                    </li>
                  </ng-container>
                </ul>
              </ng-container>

              <ng-template #noToday>
                <div class="alert alert-warning text-center fs-5">
                  لا توجد أوراد لهذا اليوم.
                </div>
              </ng-template>
            </div>

            <!-- تبويب أمس -->
            <div class="tab-pane fade" id="yesterday-tab" role="tabpanel">
              <h5 class="card-header fs-5">
                <i class="fa fa-calendar-minus text-secondary"></i>
                &nbsp;أمس - {{ getDayName(yesterdayString) }} -
                {{ yesterdayString }}
              </h5>

              <ng-container
                *ngIf="
                  groupedWerds[yesterdayString].length > 0;
                  else noYesterday
                "
              >
                <ul class="list-group list-group-flush p-0">
                  <ng-container
                    *ngFor="let werd of groupedWerds[yesterdayString]"
                  >
                    <li
                      class="list-group-item d-flex align-items-center justify-content-between flex-nowrap gap-2 fs-5"
                      [ngClass]="{
                        'bg-light': werd.isCompleted === true,
                        'bg-danger': werd.isCompleted === false
                      }"
                      style="--bs-bg-opacity: 0.6"
                    >
                      <!-- الدائرة -->
                      <div class="d-flex align-items-center flex-shrink-0">
                        <div
                          class="todo-indicator"
                          [ngClass]="
                            werd.isCompleted === true
                              ? 'bg-success'
                              : werd.isCompleted === false
                              ? 'bg-danger'
                              : 'bg-warning'
                          "
                        ></div>
                      </div>

                      <!-- العنوان -->
                      <div
                        class="flex-grow-1 fw-bold text-end px-2 overflow-hidden text-truncate"
                      >
                        <i class="fa fa-book-open text-primary ms-2"></i>
                        {{ werd.werdTitle }}
                      </div>

                      <!-- الحالة والأزرار -->
                      <div
                        class="d-flex align-items-center gap-1 flex-shrink-0"
                      >
                        <span
                          class="badge rounded-pill fs-6"
                          [ngClass]="{
                            'bg-success': werd.isCompleted === true,
                            'bg-danger': werd.isCompleted === false,
                            'bg-warning text-dark': werd.isCompleted === null
                          }"
                        >
                          {{
                            werd.isCompleted === true
                              ? "تم الإنجاز"
                              : werd.isCompleted === false
                              ? "لم يتم"
                              : "لم يُنجز بعد"
                          }}
                        </span>

                        <ng-container *ngIf="werd.isCompleted === null">
                          <button
                            class="btn btn-outline-success btn-sm px-2 py-1"
                            (click)="completeWerd(werd.id)"
                          >
                            <i class="fa fa-check"></i>
                          </button>
                          <button
                            class="btn btn-outline-danger btn-sm px-2 py-1"
                            (click)="markNotCompleted(werd.id)"
                          >
                            <i class="fa fa-times"></i>
                          </button>
                        </ng-container>
                      </div>
                    </li>
                  </ng-container>
                </ul>
              </ng-container>

              <ng-template #noYesterday>
                <div class="alert alert-warning text-center fs-5">
                  لا توجد أوراد لأمس.
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
